<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <nav>
    <%- include ('./partials/nav.ejs') %>
  </nav>
  edit page
  <form class="" action="/travelguide/<%=post.title%>?_method=PUT" method="POST">
    <label for="title">Title</label>
    <input type="text" name="title" value="<%=post.title%>">
    <label for="image">Image</label>
    <input type="text" name="image" value="<%=post.image%>">
    <label for="description">Description</label>
    <textarea name="description" rows="8" cols="80"><%=post.description%></textarea>
    <input type="submit" name="" value="Edit Post" />
  </form>

      <a href="/travelguide"> back to guides</a>
</body>

</html>
