<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include ('./partials/head.ejs') %>
</head>

<body>

  <div class="nav">

  <%- include ('./partials/nav.ejs') %>
</div>


    <div class="main">

  <div class="show-info">
    <h1> <%=post.title%></h1>

  <img src="<%=post.image%>" alt="" width="500px" height="300px">
  <p><%=post.description%></p>
<iframe  src="<%=post.video%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="likes">
    <form class="" action="/travelguide/<%=post.title%>/update?_method=PUT" method="POST">
<input type="submit" name="" value="Like">
<h5><%=post.likes%></h5>
  </form>
  </div>
    <div class="">
      <a href="/travelguide/<%=post.title%>/edit">Edit </a>
    </div>
    <% for(let i = 0; i < post.comment.length; i++){%>
  <p><%=post.comment[i]%>
      <%}%>

  <form class="" action="/travelguide/<%=post.title%>" method="POST">
    <label for="comment">Comment</label>
    <input type="comment" name="comment">
    <input type="submit" name="" value="Post" />
</form>
  </div>
</div>
</body>

</html>
